{% extends 'base.html' %} 

{% block title %}Gestión de Metas{% endblock %} 

{% block head_extra %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/metas.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <section class="govco-section govco-container"> 
        <h2>Lista de Metas</h2>
        <table id="tabla-metas">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Resultado Esperado</th>
                    <th>Descripción Resultado</th>
                    <th>Unidad de Medida</th>
                    <th>Estado</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Fecha Registro</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                </tbody>
        </table>
    </section>
    <section class="govco-section govco-container"> 
        <h2>Crear/Editar Meta</h2>
        <form id="form-meta">
            <label>ID Meta: <input type="text" id="meta-id" required autocomplete="off"></label>
            <label>Nombre: <input type="text" id="meta-nombre" required></label>
            <label>Resultado Esperado: <input type="text" id="meta-resultado" required></label>
            <label>Descripción del Resultado: <input type="text" id="meta-descripcion" required></label>
            <label>Unidad de Medida: <input type="text" id="meta-unidad" required></label>
            <label>Fecha de Inicio: <input type="date" id="meta-fecha-inicio" required></label>
            <label>Fecha de Fin: <input type="date" id="meta-fecha-fin" required></label>

            <label>Estado:
                <select id="meta-estado" required>
                    <option value="Pendiente">Pendiente</option>
                    <option value="En progreso">En progreso</option>
                    <option value="Completada">Completada</option>
                </select>
            </label>
            <button type="submit">Guardar</button>
            <button type="button" id="cancelar-edicion" style="display:none;">
                Cancelar
            </button>
        </form>
    </section>
{% endblock %}

{% block scripts_extra %}
    <script src="{{ url_for('static', filename='js/metas.js') }}" defer></script>
{% endblock %}