<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Alcaldía de Zipaquirá{% endblock %}</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mintic_style.css') }}">
    {% block head_extra %}{% endblock %} 
</head>
<body>
    <header class="govco-header">
        <div class="govco-entity-bar">
            <div class="govco-container">
                <a href="/" class="govco-entity-logo">
                    <img src="{{ url_for('static', filename='img/escudo_zipaquira.png') }}" alt="Escudo de Zipaquira">
                    <span>Alcaldía Municipal de Zipaquirá</span>
                </a>
            </div>
        </div>
        <nav class="govco-main-nav">
            <div class="govco-container">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="{{ url_for('main.plan_detalles') }}">Plan de Desarrollo</a></li>

                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('main.dashboard') }}">Dashboard</a></li>
                        <li><a href="{{ url_for('metas_bp.gestion_metas_page') }}">Gestión de Metas</a></li>
                        <li><a href="{{ url_for('usuario_bp.logout') }}">Cerrar Sesión</a></li>
                    {% else %}
                        <li><a href="{{ url_for('usuario_bp.login') }}">Iniciar Sesión</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %} 
    </main>

    <footer class="govco-simple-footer">
        <div class="govco-container">
            <div class="govco-footer-content">
                <img src="{{ url_for('static', filename='img/escudo_zipaquira.png') }}" alt="Escudo de Zipaquirá" class="govco-footer-logo">
                <p>Alcaldía Municipal de Zipaquirá</p>
            </div>
        </div>
    </footer>
    {% block scripts_extra %}{% endblock %} 
</body>
</html>